<ion-header>
  <ion-toolbar>
    <ion-title>
      Explore
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <img src="/assets/icon/trips.png" class="newImg">
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Airbnb</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-list class="grid">
      <ion-card *ngFor="let property of properties">
        <ion-card-content (click)="navToDetails(property)">
          <img src="{{property.imgURL}}" alt="{{property.name}}">
          <b>{{property.name}}, </b>
          <!--<ion-icon *ngFor="let star of property.stars" name="{{star}}"></ion-icon>-->
          {{property.location}}
        </ion-card-content>
      </ion-card>
    </ion-list>
</ion-content>
