.grid {
    --columns: 300px 300px 300px 300px;
    --row: 250px;
}

.explore {
    --background: primary;
    color: #058;
    --fill: "outline";
    padding: 0 10%;
}

ion-list {
    padding: 2% 10%;
}

button {
    height: 10%;
    display: inline-block;
    align-content: start;
}

.grid {
    display: grid;
    grid-template-columns: var(--columns);
    grid-template-rows: var(--row);
    justify-content: center;
    padding: 0 10%;
}

.grid img {
    height: 160px;
}

@media all and (max-width: 1200px) {
    .grid {
        --columns: 300px 300px 300px;
        --row: 220px;
    }
}

@media all and (max-width: 900px) {
    .grid {
        --columns: 300px 300px;
        --row: 220px;
    }
}

@media all and (max-width: 600px) {
    .grid {
        --columns: 300px;
        --row: 220px;
    }
}