<ion-content>
    <ion-list>
      <b style="font-size: 200%; margin-bottom: 10%">Trips</b>
      <div><b>No upcoming trips.</b></div>
      <div style="color: grey">Start exploring ideas for your next trip.</div>
    </ion-list>
    <ion-button (click)="navToExplore()" class="explore">Explore Airbnb</ion-button>

    <div style="padding: 10% 10% 1% 10%"><b>Where you've been</b></div>
    <ion-list class="grid">
      <ion-card *ngFor="let transaction of transactions">
        <ion-card-content>
          <button (click)="transaction.navFunction()">
            <img src="{{transaction.imgName}}" alt="{{transaction.place}}">
            <b>{{transaction.place}}</b>
          </button>
        </ion-card-content>
      </ion-card>
    </ion-list>
</ion-content>
